name: test

on: push

jobs:
  mix_test:
    runs-on: ubuntu-latest
    name: mix test (OTP ${{matrix.otp}} | Elixir ${{matrix.elixir}})
    strategy:
      matrix:
        otp: ['23', '24', '25']
        elixir: ['1.13.4', '1.14.3']
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1.15.2
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get --only test
      - run: mix test
